# Server Configuration
PORT=5000
MONGODB_URI=mongodb+srv://your_user:your_password@cluster.mongodb.net/your_db
JWT_SECRET=your_random_secret_string

# AI Integration
GEMINI_API_KEY=AIzaSy... (Get yours at https://aistudio.google.com/)
